<div class="container">
<?php
/** @var \Clicks\Grossentabelle\Model\ResourceModel\Brands\Collection $brands */
$brands = $block->getBrands();

foreach ($brands as $brand):?>
    <div class="col-sm-3 text-center">
        <a href="<?php echo $brand->getUrl() ?? '#' ?>" title="<?php echo $brand->getName() ?>">
        <img src="<?php echo $this->getUrl('pub/media').$block->getBaseImagePath().'/'.$brand->getLogo() ?>"
             alt="<?php echo $brand->getName() ?>" style="width: 120px;">
            <?php echo $brand->getName() ?>
        </a>
    </div>
<?php endforeach; ?>
</div>