<?php
/** @var \Clicks\Grossentabelle\Model\Brands $brand */
$brand = $block->getBrand();
?>
<h1><?php echo $brand->getName() ?></h1>
<div>
    <?php echo $brand->getDescription() ?>
</div>
<div>
    <?php
    /** @var \Clicks\Grossentabelle\Model\BrandsTables $table */
    foreach ($brand->getTables() as $table): ?>
        <a href="#<?php echo $table->getAnchor() ?>"><?php echo $table->getName() ?></a>
    <?php endforeach; ?>
</div>
<?php
/** @var \Clicks\Grossentabelle\Model\BrandsTables $tables */
foreach ($brand->getTables() as $table): ?>
    <?php if(count($table->getValues()) > 0): ?>
        <table class="table" id="<?php echo $table->getAnchor() ?>">
            <?php echo $table->getDescription(); ?>
            <thead>
                <tr>
                    <td colspan="<?php echo count($table->getValues())?>">
                        <?php echo $table->getName() ?>
                    </td>
                </tr>
            </thead>
            <tbody>
            <?php foreach ($table->getValues() as $i => $value): ?>
                <tr>
                    <?php foreach ($value as $columnName => $sizes): ?>
                        <td>
                            <?php echo $sizes ?>
                        </td>
                    <?php endforeach; ?>
                </tr>
            <?php endforeach; ?>
            </tbody>
        </table>
    <?php endif; ?>
<?php endforeach; ?>
